<div class="ui container">
  <div class="desktop-only">
    <div class="ui inverted primary fixed top menu">
      <div class="item">
        <!--<img class="image" src="/images/RH_R.png">-->
      </div>
      <div class="item">
        <h2 class="heading brand">Drink.Drank.Drunk.</h2>
      </div>
      <!--<a ui-sref="user.habits" ui-sref-active="active" class="item">Habits &amp; Risk</a>-->
      <!--<a ui-sref="user.history" ui-sref-active="active" class="item">History</a>-->
      <!--<a ui-sref="user.settings" ui-sref-active="active" class="item">Settings</a>-->
      <div class="right menu">
        <!--<a ui-sref="login" ng-click="logout()" class="item">Logout</a>-->
      </div>
    </div>
  </div>
  <div class="vertical-spacer"></div>
  <div class="vertical-spacer"></div>
  <div class="vertical-spacer"></div>
  <div class="vertical-spacer"></div>
  <centered>
    <div class="ui text container">
      <div class="ui centered fluid card">
        <div class="content">
          <form class="ui form" id="login">
            <div class="field">
              <label>Username</label>
              <input type="text" placeholder="Username" name="username">
            </div>
            <div class="field">
              <label>Password</label>
              <input type="password" placeholder="Password" name="password">
            </div>
            <div class="ui error message"></div>
          </form>
        </div>
        <div class="ui attached buttons">
          <button class="ui basic black button" ng-click='register()'>Register</button>
          <div class="or"></div>
        <button class="ui black button" ng-click='authenticate()'>Login</button>

        </div>
      </div>
    </div>
  </centered>
  <div class="vertical-spacer"></div>
</div>