<div class="ui container">
    <h1 class="ui centered header">Weekly Report</h1>
    <div class="vertical-spacer"></div>
    <div class="ui grid">
        <div class="row">
            <div class="eight wide column">
                <div class="vertical-spacer"></div>
                <div class="ui huge statistic">
                    <div class="value">
                        {{startDate}}
                    </div>
                    <div class="label">
                        Week Of
                    </div>
                </div>
            </div>
            <div class="eight wide column">
                <canvas id="bar" class="chart chart-bar" chart-data="displays.charts.bar.data" chart-labels="displays.charts.bar.labels"
                    chart-series="displays.charts.bar.series"  chart-options="displays.charts.bar.options">
                </canvas>
            </div>
        </div>
        <div class="row">
            <div class="one wide column"></div>
            <div class="five wide column">
                <canvas id="doughnut" class="chart chart-doughnut" chart-data="displays.charts.pie.data" chart-labels="displays.charts.pie.labels">
                </canvas>
            </div>
            <div class="one wide column"></div>
            <div class="eight wide column">
                <div class="vertical-spacer"></div>
                <div class="vertical-spacer"></div>
                <div class="ui huge statistic">
                    <div class="value">
                        {{displays.total}}
                    </div>
                    <div class="label">
                        Total Drinks This Week
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
<canvas id="bar" class="chart chart-bar ng-isolate-scope" chart-data="data" 
chart-labels="labels" chart-series="series" chart-options="options"
 style="display: block; width: 523px; height: 261px;" width="523" height="261"></canvas>-->