<div class="ui container">
    <div class="vertical-spacer"></div>
    <div class="vertical-spacer"></div>
    <label class="title">Login</label>
    <div class="vertical-spacer"></div>
    <form class="ui form">
        <div class="field">
            <label>Username</label>
            <input type="text" placeholder="Username" name="username">
        </div>
        <div class="field">
            <label>Password</label>
            <input type="password" placeholder="Password" name="password">
        </div>
        <button class="ui button" type="submit">Login</button>
        <div class="ui error message"></div>
    </form>
</div>