<div class="ui container">
    <label class="title">Login</label>
    <div class="vertical-spacer"></div>
    <form class="ui form">
        <div class="field">
            <label>Username</label>
            <input type="text" placeholder="Username">
        </div>
        <div class="field">
            <label>Password</label>
            <input type="password" placeholder="Username">
        </div>
        <button class="ui button" type="submit">Login</button>
    </form>
    <div class="vertical-spacer"></div>
</div>