<div class="">
    <div class="ui inverted primary fixed top menu">
        <div class="item">
            <!--<img class="image" src="/images/RH_R.png">-->
        </div>
        <div class="item">
            <h2 class="heading brand">Drink.Drank.Drunk.</h2>
        </div>
        <a ui-sref="user.habits" ui-sref-active="active" class="item">Habits &amp; Risk</a>
        <a ui-sref="user.history" ui-sref-active="active" class="item">History</a>
        <a ui-sref="user.settings" ui-sref-active="active" class="item">Setting</a>
        <div class="right menu">
            <!--<a ui-sref="login" ng-click="logout()" class="item">Logout</a>-->
        </div>
    </div>
</div>
<div class="vertical-spacer"></div>
<div class="vertical-spacer"></div>
<div class="vertical-spacer"></div>
<div class="vertical-spacer"></div>
<div class="" id="parent">
    <div ui-view></div>
</div>