<div class="">
    <div class="ui inverted primary fixed top menu">
        <div class="item">
            <!--<img class="image" src="/images/RH_R.png">-->
        </div>
        <div class="item">
            <h2 class="heading brand">Drink.Drank.Drunk.</h2>
        </div>
        <!--<a ui-sref="admin.courseMap" ui-sref-active="active" class="item">Course Map</a>
        <a ui-sref="admin.TaNeeds" ui-sref-active="active" class="item">TA Needs</a>
        <a ui-sref="admin.ta" ui-sref-active="active" class="item">TA Assignments</a>
        <a ui-sref="admin.editTaApplication" ui-sref-active="active" class="item">TA Application</a>
            <div class="ui dropdown item">
            <div class="text">Change Role</div>
            <i class="dropdown icon"></i>
            <div class="menu">
                <a href="/" ng-click="jumpToInstructor()" class="item">Instructor</a>
            </div>
        </div>
        <div class="right menu">
            <div ng-click="openSettings()" class="item">
                {{currentTerm | termFilter}}
            </div>
            <a ng-click="openSettings()" class="item"><i ng-click="openSettings()" class="inverted large setting icon"></i></a>
            <a ui-sref="login" ng-click="logout()" class="item">Logout</a>-->
        </div>
    </div>
</div>
<div class="vertical-spacer"></div>
<div class="vertical-spacer"></div>
<div class="vertical-spacer"></div>
<div class="vertical-spacer"></div>
<div class="" id="parent">
    <div ui-view></div>
</div>